@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    font-family: 'Poppins','sans-serif';
}

#hero-section{
    display: flex;
    flex-direction:row;
}

#hero-section #dashboard{
    position: relative;
    display: flex;
    flex-direction: column;
    Width: 70px;
    Height: 818px;
    background-color: #A0E4CB;
    cursor:pointer;
}

#dashboard-extend{
    position: absolute;
    left: 67px; 
    Width: 209px;
    Height: 818px;
    background-color: #A0E4CB;
    z-index: 9999;
    display: none;
}

#dashboard-extend > h1, #dashboard-extend > div{
    margin-top: 1rem;
    padding-left: 1rem;
    font-weight: 400;
    font-size: 17.97px;
    color: white;
    cursor: pointer;
}

#dashboard-extend > div{
    height: 35px;
    margin: 2rem 0;
}

#dashboard-extend > div:hover{
    background-color:#6FA692;
    height: 30px;
    border-radius: 8px;
}

#dashboard.active #dashboard-extend{
    display: block;
    z-index:9999;
}

#hero-section #hero-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

#hero-section #navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    Height:70px;
    background: #FFFFFF;    
    border: 1px solid #000000;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
   
.text-awal,.text-akhir{
    padding: 0rem 1.5rem;
}

#content-content{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 1rem;
}

.display-leader{
    position: relative;
    width: 274px;
    height: 358px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.text-awal > h2,.text-akhir > h2{
    font-weight: 700;
    font-size: 17.97px;
    color: #7DCCAF;
}

.display-leader-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 2rem;
    gap: 0.5rem;
}

.display-leader-content > h1, .display-leader-content > p{
    font-weight: 700;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 17.97px;
}

.box{
    display: flex;
    align-items: center;
    Width: 219px;
    Height: 25px;
    background: #F5F5F5;
    border: 0.462366px solid #000000;   
    border-radius: 3.69892px;
}

.box > h2{
    font-family: "Montserrat";
    font-Weight:400;
    font-size: 11px;
    padding-left: 1rem;
}

.logo-github{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-github > h2{
    font-family: "Montserrat";
    font-Weight: 700;
    font-size: 11px;
}

.iconify-icon{
    Width: 20px;
    Height: 19.52px;
    color: black;
}

.plus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
}
.divider{
    display: flex;
    flex-direction: row;
    gap: 4rem;   
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 619px;
    height: 182px;
    background: #FFFFFF;
    border: 1px solid #FF0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.box2 >p{
    font-Weight: 700;
    font-size: 19.46px;
    color: #FF0000;
}