@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins','sans-serif';
}
#contact-form{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
}
#contact-form .information-group{
    width: 868px;
    height: 597px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
#contact-form .information-group .sign-up > h2{
    color: #0D4C92;
    font-weight: 700;
    font-size: 35px;
}
#contact-form .information-group .form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact-form .information-group .form .tab{
    display: none;
}

#contact-form .information-group .form  .input-group{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    margin: 1rem 0rem;
}
#contact-form .information-group .form .tab .dua{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 1rem 0rem;
}
#contact-form .information-group .form .tab .dua .bagi-dua{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    
}
.bagi-duaa{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
#contact-form .information-group .form .input-group > label, .bagi-dua > label{
    font-weight: 600;
    font-size: 15px;
    color:#0D4C92;
}

#contact-form .information-group .form .input-group > input,.password>input{
    width: 686px;
    height: 55px;
    border-radius: 8px;
    background-color: #F2F2F2;
    padding-left: 1rem;
    font-weight: 400;
    font-size: 15px;
    color: #707070;
    border: none;
    outline:none;
}
#contact-form .information-group .form .tab .dua .bagi-dua > input, .dropdown > input{
    width: 333px;
    height: 55px;
    background: #F2F2F2;
    border-radius: 8px;
    padding-left: 1rem;
    font-weight: 400;
    font-size: 15px;
    color: #707070;
    border: none;
    outline: none;
}
#contact-form .information-group .form .input-group .radio-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#contact-form .information-group .form .input-group .radio-button .radio-class{
    display: flex;
    flex-direction: row;
    align-items: center; 
     gap: 1rem;
    margin-right: 1.5rem;
}
#contact-form .information-group .form .input-group > input::placeholder, .radio-class > label{
    font-weight: 400;
    font-size: 15px;
    color: #707070;
}

.radio-class input[type="radio"]
{
    display: none;
}

.radio-class span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25px;
    height:25px;
    border-radius: 50%;
    border: 3px solid #0D4C92;
}

.radio-class span::after{
    content: "";
    height: 15px;
    width: 15px;
    background:#0D4C92;
    display: block;
    border-radius: 50%;
    transform: scale(0);
    transition: 300ms ease-in-out 0s;
}

.radio-class input[type="radio"]:checked ~ span::after{
    transform: scale(1);
}
#contact-form .information-group .form .next{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
}

.Next-Btn,.submit,.Back-Btn{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    width: 89px;
    height: 39px;
    border: 2px solid #CACACA;
    border-radius: 35px;
    background-color: white;
}

input[type="date"]{
    font-family: 'Poppins';   
    padding: 0 1rem;
}


#submit{
    height: 38px;
    width: 112px;
}
.dropdown{
    position:relative;
}

.option{
    margin-top:0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 200px;
    background:#F2F2F2;
    border: none;
    outline: none;
    border-radius: 8px;
    overflow-y: scroll;
    display: none;
}

.option div{
    padding: 0.5rem;
    cursor: pointer;
}

.option div:hover{
    background:#CACACA;
}

.dropdown::before{
    position: absolute;
    content:'';
    width: 8px;
    height: 8px;
    z-index: 10000;
    border: 2px solid #333;
    background-color: #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    transform: rotate(-45deg);
    transition: 0.5s;
    left: 19rem;
    top: 1.2rem;
}

.dropdown.active::before{
    transform: rotate(-225deg);
    top: 1.4rem;
}

.dropdown.active .option{
    position:absolute;
    z-index:10000;
   display: block;
}

.drag-drop,.drag-drop1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 26px 20px;
    width:262px;
    height:208px;
    border-radius: 8px;
    border:1px dashed#0D4C92;
    background-color: #F2F2F2;
}

.drag-drop__over,.drag-drop__over1{
    border-style: solid;
}

.drag-drop img,.drag-drop1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.dua .bagi-dua .drag-drop >h2, .drag-drop1 > h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #707070;
}

.dua .bagi-dua .drag-drop .CV-1, .drag-drop1 .CV-1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #9F9F9F;
}

.OR{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #707070;
}

.browse{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;    
    height: 29px;   
    background: #0D4C92;
    border-radius: 35px;
    outline: none;
    border: none;
    font-weight:600;
    font-size: 10px;
    color:#FFFFFF
}
a{
    text-decoration: none;
}
.CV{
    margin-left: 4.51rem;
}

iconify-icon{
    color: #707070;
}

input[type="password"]::-ms-reveal{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password{
    position: relative;
}

#message1{
    position:absolute;
    color: red;
    font-size: 10px;
}

#message2{
    position:absolute;
    left: 22%;
    color: red;
    font-size: 10px;
}

 #message3{
    position:absolute;
    left: 40%;
    color: red;
    font-size: 10px;
}

#message4{
    position:absolute;
    left: 58%;
    color: red;
    font-size: 10px;
}

#message5{
    position:absolute;
    left: 72%;
    color: red;
    font-size: 10px;
}

#message6{
    position:absolute;
    color: red;
    font-size: 10px;
}
.hide{
    display: none;
}

.hidden-icon  {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    Width: 33px;
    Height: 20px;
}

#hide2,#hide4{
    display: none;
}

#NO-WA,#Email-validation1,#Email-validation2,#Email-validation3,#date{
    padding-left: 1rem;
    color: red;
    font-size: 10px;
}

.symbol{
    display: flex;
    flex-direction: row;
}

